name: Tests

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

defaults:
  run:
    shell: bash -l {0}

jobs:
  run:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        mamba-version: "*"
        auto-activate-base: false
        channels: conda-forge

    - name: Install packages
      run: mamba install xeus-robot jupyter jupyter_kernel_test

    - name: Run tests
      run: python test/test_xrobot_kernel.py -vvv
